openapi: 3.0.0

info:
  version: 1.0.0
  title: Taller de Coches - Subsistema de Env铆o de Notificaciones
servers:
  - url: http://127.0.0.1:80/api/v1

paths:
  /notificaciones/correo:
    post:
      summary: Env铆o de notificaci贸n de cambio de estado del trabajo por correo
      description: Env铆a una notificaci贸n por correo al cliente cuando cambia el estado de un trabajo
      tags:
        - "Notificaciones "
      requestBody:
        $ref: '#/components/requestBodies/NotificacionRB'
      responses:
        '200':
          $ref: './responses/NotificationResponse.yaml'
        '400':
          $ref: './responses/Response_400.yaml'
        '422':
          $ref: './responses/Response_422.yaml'
  
  /notificaciones/telefono:
    post:
      summary: Env铆o de notificaci贸n de cambio de estado del trabajo por tel茅fono
      description: Env铆a una notificaci贸n por tel茅fono al cliente cuando cambia el estado de un trabajo
      tags:
        - "Notificaciones "
      requestBody:
        $ref: '#/components/requestBodies/NotificacionRB'
      responses:
        '200':
          $ref: './responses/NotificationResponse.yaml'
        '400':
          $ref: './responses/Response_400.yaml'
        '422':
          $ref: './responses/Response_422.yaml'
  
  /notificaciones/masivas:
    post:
      summary: Env铆o de notificaci贸n masiva
      description: Env铆a una notificaci贸n a todos los clientes con trabajos pendientes
      tags:
        - "Notificaciones "
      requestBody:
        $ref: '#/components/requestBodies/NotificacionMasivaRB'
      responses:
        '200':
          $ref: './responses/NotificacionMasivaResponse.yaml'
        '400':
          $ref: './responses/Response_400.yaml'
        '422':
          $ref: './responses/Response_422.yaml'
  
  /notificaciones/{idNotificacion}:
    get:
      summary: Obtener una notificaci贸n
      description: Obtiene una notificaci贸n mediante su id, as铆 como los enlaces a los recursos relacionados
      tags:
        - "Notificaciones "
      parameters:
        - name: idNotificacion
          in: path
          required: true
          description: Identificador 煤nico de la notificaci贸n
          schema:
            type: string
      responses:
        '200':
          description: Notificaci贸n obtenida correctamente
          content:
            application/json:
              schema:
                $ref: './schemas/Notificacion.yaml'
        '400':
          $ref: './responses/Response_400.yaml'
        '404':
          $ref: './responses/Response_404.yaml'
  
  /notificaciones/trabajo/{idTrabajo}:
    get:
      summary: Obtener notificaciones de un trabajo
      description: Obtiene todas las notificaciones de un trabajo, as铆 como los enlaces a los recursos relacionados
      tags:
        - "Notificaciones "
      parameters:
        - name: idTrabajo
          in: path
          required: true
          description: Identificador 煤nico del trabajo
          schema:
            type: string
        - name: page
          in: query
          required: true
          description: Paginaci贸n de las notificaciones del trabajo
          schema:
            type: integer
      responses:
        '200':
          description: Notificaciones del trabajo obtenidas correctamente
          headers:
            ETag:
              $ref: './headers/ETag.yaml'
          content:
            application/json:
              schema:
                type: object
                properties:
                  notificaciones:
                    description: Array de notificaciones
                    type: array
                    items: 
                      $ref: './schemas/Notificacion.yaml'
                  enlaces:
                    description: Enlaces de paginaci贸n
                    readOnly: true
                    type: array
                    properties:
                      prevPage:
                        $ref: './schemas/Enlace.yaml'
                      nextPage:
                        $ref: './schemas/Enlace.yaml'
              examples:
                notificaciones_idTrabajo_example:
                  $ref: '#/components/examples/notificaciones_idTrabajo_example'
        '400':
          $ref: './responses/Response_400.yaml'
        '404':
          $ref: './responses/Response_404.yaml'
  
  /notificaciones/cliente/{idCliente}:
    get:
      summary: Obtener notificaciones de un cliente
      description: Obtiene todas las notificaciones de un cliente, as铆 como los enlaces a los recursos relacionados
      tags:
        - "Notificaciones "
      parameters:
        - name: idCliente
          in: path
          required: true
          description: Identificador 煤nico del cliente
          schema:
            type: string
        - name: page
          in: query
          required: true
          description: Paginaci贸n de las notificaciones del cliente
          schema:
            type: integer
      responses:
        '200':
          description: Notificaciones del cliente obtenidas correctamente
          headers:
            ETag:
              $ref: './headers/ETag.yaml'
          content:
            application/json:
              schema:
                type: object
                properties:
                  notificaciones:
                    description: Array de notificaciones
                    type: array
                    items: 
                      $ref: './schemas/Notificacion.yaml'
                  enlaces:
                    description: Enlaces de paginaci贸n
                    readOnly: true
                    type: array
                    properties:
                      prevPage:
                        $ref: './schemas/Enlace.yaml'
                      nextPage:
                        $ref: './schemas/Enlace.yaml'
              examples:
                notificaciones_idCliente_example:
                  $ref: '#/components/examples/notificaciones_idCliente_example'
        '400':
          $ref: './responses/Response_400.yaml'
        '404':
          $ref: './responses/Response_404.yaml'
    patch:
      summary: Actualizar la suscripci贸n a notificaciones
      description: Actualiza la suscripci贸n a notificaciones de un cliente
      tags:
        - "Notificaciones "
      requestBody:
        $ref: '#/components/requestBodies/SuscripcionNotificacionesRB'
      responses:
        '200':
          description: Suscripci贸n actualizada correctamente
          content:
            application/json:
              schema:
                $ref: './schemas/Cliente.yaml'
        '400':
          $ref: './responses/Response_400.yaml'
        '404':
          $ref: './responses/Response_404.yaml'
        '422':
          $ref: './responses/Response_422.yaml'

components:
  examples:
    notificaciones_idTrabajo_example:
      value:
        notificaciones:
          - idNotificacion: "1"
            idTrabajo: "1"
            mensaje: "El trabajo ha sido realizado"
            fechaEnvio: "2023-04-10T17:51:00Z"
            estado: "finalizado"
            enlaces:
              self: "http://127.0.0.1:80/api/v1/notificaciones/1"
              trabajo: "http://127.0.0.1:80/api/v1/trabajos/1"
          - idNotificacion: "2"
            idTrabajo: "1"
            mensaje: "El trabajo ha sido realizado"
            fechaEnvio: "2023-04-10T17:51:00Z"
            estado: "finalizado"
            enlaces:
              self: "http://127.0.0.1:80/api/v1/notificaciones/2"
              trabajo: "http://127.0.0.1:80/api/v1/trabajos/1"
        enlaces:
          prevPage:
            href: "https://example.com/api/v1/notificaciones/trabajo/1?page=2"
            rel: "prevPage" 
          nextPage:
            href": "https://example.com/api/v1/notificaciones/trabajo/1?page=4"
            rel: "nextPage"
    
    notificaciones_idCliente_example:
      value:
        notificaciones:
          - idNotificacion: "1"
            idTrabajo: "1"
            mensaje: "El trabajo ha sido realizado"
            fechaEnvio: "2023-04-10T17:51:00Z"
            estado: "finalizado"
            enlaces:
              self: "http://127.0.0.1:80/api/v1/notificaciones/1"
              trabajo: "http://127.0.0.1:80/api/v1/trabajos/1"
          - idNotificacion: "2"
            idTrabajo: "1"
            mensaje: "El trabajo ha sido realizado"
            fechaEnvio: "2023-04-10T17:51:00Z"
            estado: "finalizado"
            enlaces:
              self: "http://127.0.0.1:80/api/v1/notificaciones/2"
              trabajo: "http://127.0.0.1:80/api/v1/trabajos/1"
        enlaces:
          prevPage:
            href: "https://example.com/api/v1/notificaciones/cliente/1?page=2"
            rel: "prevPage" 
          nextPage:
            href": "https://example.com/api/v1/notificaciones/cliente/1?page=4"
            rel: "nextPage"
  
  requestBodies:
    NotificacionRB:
      description: Datos de la notificaci贸n a crear
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              idTrabajo:
                type: string
                description: ID del trabajo al que est谩 relacionada la notificaci贸n
              mensaje:
                type: string
                description: Mensaje de la notificaci贸n
            required:
              - idTrabajo
              - mensaje
          example:
            idTrabajo: "1"
            mensaje: "El trabajo ha sido realizado"
    
    NotificacionMasivaRB:
      description: Datos de una notificaci贸n masiva
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              mensaje:
                type: string
                description: Mensaje de la notificaci贸n
              fechaProgramada: 
                type: string
                format: date-time
            required:
              - mensaje
            example:
              mensaje: "Desde el lunes 11 de abril hasta el jueves 13 todos los talleres permanecer谩n cerrados."
    
    SuscripcionNotificacionesRB:
      description: Datos de la suscripci贸n a las notificaciones 
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              idCliente:
                type: string
                description: Id del cliente
              suscripcion:
                type: boolean
                description: indica si un usuario est谩 suscrito a las notificaciones
          example:
            idCliente: "1"
            suscripcion: false
  
  schemas:
    Cliente:
      $ref: "./schemas/Cliente.yaml#/Cliente"
    Enlace:
      $ref: "./schemas/Enlace.yaml#/Enlace"
    Notificacion:
      $ref: "./schemas/Notificacion.yaml#/Notificacion"
    NotificacionMasiva:
      $ref: "./schemas/NotificacionMasiva.yaml#/NotificacionMasiva"
    Trabajo:
      $ref: "./schemas/Trabajo.yaml#/Trabajo"
    Vehiculo:
      $ref: "./schemas/Vehiculo.yaml#/Vehiculo"